---
import DATA_DESSERTS from '../../mooks/desserts.json';
import ProductCard from './ProductCard.tsx';
import ProductHeader from './ProductHeader.astro';

const { desserts } = DATA_DESSERTS;
if (!desserts) {
	throw new Error('No desserts found');
}
---

<article class="space-y-8">
  <ProductHeader title='Desserts' />

  <div>
    <ul class="grid grid-cols-1 sm:grid-cols-[repeat(auto-fill,minmax(220px,1fr))] lg:grid-cols-[repeat(auto-fill,minmax(180px,1fr))] xl:grid-cols-[repeat(auto-fill,minmax(180px,250px))] gap-x-6 gap-y-8">
      {
        desserts.map((product) => {
          return (
            <li>
              <ProductCard product={product} server:defer client:load />
            </li>
          )
        })
      }
    </ul>
  </div>
</article>